<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ztt.stockinhome">

    <application
        android:name=".StockInHomeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="stockInHome.db" />
        <meta-data
            android:name="VERSION"
            android:value="4" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.ztt.stockinhome" />

        <activity
            android:name=".main.ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".stock.ui.StockActivity"
            android:label="@string/product.title"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.ui.MainActivity" />
        </activity>
        <activity android:name=".stock.ui.EditProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".stock.ui.StockActivity" />
        </activity>
        <activity
            android:name=".category.ui.CategoryActivity"
            android:label="@string/categories"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.ui.MainActivity" />
        </activity>
        <activity
            android:name=".shop.ui.ShoppingListActivity"
            android:label="Lista de la compra"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.ui.MainActivity" />
        </activity>
        <activity android:name=".shop.ui.ShoppingListDetailActivity"
            android:label="Detalle"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".shop.ui.ShoppingListActivity" />
        </activity>
    </application>

</manifest>